@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: 'roboto';
    font-weight: lighter;
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'roboto';
    padding: 2% 0 0 0;
 
}

ul{
    width: 40%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-family: 'roboto';

 
}

.logo{
    width: 60%;
    height: 60%;
}

.btn-login{
    width: 10%;
    height: 40px;
    background-color: #FF0017;
    color: #ffffff;
    font-family: 'roboto';

    border: none;
    margin: 0  5%  0 0;

    
}

.btn-login:hover{
    width: 10%;
    height: 40px;
    background-color: #FF0017;
    color: #FF0017;
    font-family: 'roboto';

    border: none;
}


/** Footer **/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #251c1d;

    height: 20vh;
   
}

.footer-content{
    height: 100%;
    font-family: 'roboto';
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.footer-links a{
    font-family: 'roboto';
    color: #ffffff;
    text-decoration: none;
    

    
}

